CHIAConstraintIO/src/main/resources/LightTransition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:chia="http://NamespaceTest.com/CHIA" elementFormDefault="qualified">

	<xs:element name="trans">
		<xs:complexType>
			<xs:attribute name="id" type="xs:positiveInteger" use="required" />
			<xs:attribute name="propositions" type="xs:string" />
		</xs:complexType>
	</xs:element>
</xs:schema>