CHIAConstraintIO/src/main/resources/ReachabilityElement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:chia="http://NamespaceTest.com/CHIA" elementFormDefault="qualified">

	<xs:element name="reachabilityElement">
		<xs:complexType>
			<xs:attribute name="destination" type="xs:positiveInteger"
				use="required" />
			<xs:attribute name="source" type="xs:positiveInteger"
				use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>